# Setings and Log
logs
*.log
.settings
.project

# Junk
Thumbs.db

# Runtime data

# Compiled and Temp Stuff
dist
src/temp
public

# Dependency directory
node_modules
bower_components

# Users Environment Variables
.lock-wscript
