mixin eventdetails
  form(role="form")
    div#titlegroup.form-group
      label(for="EventTitle") Title
      input#title.form-control(type="text", readonly='readonly')
    div#detailsgroup.form-group
      label(for="EventDetails") Description
      textarea#details.form-control(type='text', readonly='readonly')
    div#lengthgroup.form-group
      label(for="EventLength") Event Length
      input#length.form-control(type='text', readonly='readonly')