extends layout

include ./common/navbar.pug
include ./common/popup.pug
include ./common/help.pug
include ./common/about.pug
include ./common/details.pug
include ./common/frame.pug
include ./common/analytics.pug
include ./result/list.pug

block styles
    link(rel='stylesheet', href='/css/result.css')
block content
    +navbar
    .content.container-fluid
        .row
            +frame('panel-success', 'Event details')
              #details
                +details
        .row
            +frame('panel-info', 'Most available time slots')
              #resultlist
                +list
        +popup
        +help
        +about
block footer
      script.
        var schedule = !{schedule}
        var data =!{data}
      script(src='/socket.io/socket.io.js', type='text/javascript')
      script(src='/js/result.js', type='text/javascript')
      +analytics