/*
 * CSS Calendar
 * Originally by
 * Tim Wright
 * Chris Coyier
 -----------------------------*/
 
/* Event length list */
#eventlengthlist .ui-selecting 
{ 
	background: #FECA40; 
}
#eventlengthlist .ui-selected 
{ 
	background: #F39814; 
	color: white; 
}
#eventlengthlist .ui-unselecting 
{
	background: #c0c0c0; 
}
#eventlengthlist 
{ 
	list-style-type: none; 
	margin: 0; 
	padding: 0;
	width: 800px;
	height: 150px;
}
#eventlengthlist li 
{
	margin: 3px; 
	padding: 1px; 
	float: left; 
	width: 100px; 
	height: 80px; 
	font-size: 4em; 
	text-align: center; 
}

/* Date list */
#datelist .ui-selecting { 
	background: #FECA40;
}
#datelist .ui-selected {
	background: #F39814; 
	color: white; 
}
#datelist .ui-unselecting {
	background: #c0c0c0; 
}
#datelist 
{ 
	list-style-type: none; 
	margin: 0; 
	padding: 0;
	width: 800px;
	height: 500px;
}
#datelist li 
{
	margin: 3px; 
	padding: 1px; 
	float: left; 
	width: 100px; 
	height: 80px; 
	font-size: 4em; 
	text-align: center; 
}

/* Time list */
#timelist .ui-selecting { 
	background: #FECA40;
}
#timelist .ui-selected {
	background: #F39814; 
	color: white; 
}
#timelist .ui-unselecting {
	background: #c0c0c0; 
}
#timelist 
{ 
	list-style-type: none; 
	margin: 0; 
	padding: 0;
	width: 800px;
	height: 500px;
}
#timelist li 
{
	margin: 3px; 
	padding: 1px; 
	float: left; 
	width: 90px; 
	height: 20px; 
	font-size: 1em; 
	text-align: center; 
}

/* old stuff */
*
{
	margin:0;
	padding:0;
}

body                
{
	font:1em/1.4 Verdana, Arial, Helvetica, sans-serif; 
	background: #434343;
}

p.link              
{
	text-align:center;
	display: block;
}

h1					
{
	width: 100%;
	font-size: 40pt;
	color: #00FF33;
	background: transparent;
	font-family: 'Alfa Slab One',sans-serif;
}

h2				
{
	text-align:left;
	margin-left:20px;
	resize: none;
	font-size: 15pt;
	color: #00FF33;
	background: transparent;
	font-family: 'Verdana',sans-serif;
}

h3			
{
	margin-left:20px;
	text-align:left;
	resize: none;
	font-size: 15pt;
	color: white;
	background: transparent;
	font-family: 'Verdana',sans-serif;
}

/*
Overlay
*/

#overlay {
	z-index:1000;
	position:absolute;
	width:100%;
	background:#000;
	opacity:0.45;
	-moz-opacity:0.45;
	filter:alpha(opacity=45);
	visibility:hidden; 
} 

#alert {
	font-size: 15pt;
	font-family: 'Alfa Slab One',sans-serif;
	width: 400px;
	height: 200px;
	text-align:center;
	z-index:1001;
	position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
	color: #000;
	background: #ffa;
	border: solid;
	visibility:hidden;
}

/*
Container
*/
#container              
{
	width:900px;
	margin:0 auto;
	display:block;
	min-height: 200px;
	background: url(images/tl.png) top left no-repeat;
	padding: 12px 0 0 20px;
}

/*
ContainerTop
*/
textarea 
{
	text-align:left;
	width: 750px;
	height: 30px;
	resize: none;
	font-size: 15pt;
	color: #ffa;
	background: transparent;
	border: dotted;
	font-family: 'Alfa Slab One',sans-serif;
}

/*
ContainerCenter
*/

button#previous 
{
	float:left;
	margin-left:40px;
	font-size: 15pt;
	height: 50px;
	border: 0;
	color: #fff;
	background: #444;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: 'Sigmar One', sans-serif;
	cursor: pointer;
	text-decoration: none;
	padding: 0px 6px;
	display: inline-block;
	position: relative;
}
button#previous:disabled 
{
	color: #222;
}

button#next 
{
	float:right;
	margin-right:40px;
	font-size: 15pt;
	height: 50px;
	border: 0;
	color: #fff;
	background: #444;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: 'Sigmar One', sans-serif;
	cursor: pointer;
	text-decoration: none;
	padding: 0px 6px;
	display: inline-block;
	position: relative;
}
button#next:disabled 
{
	color: #222;
}

#calendar
{
	clear: both;
}

#title
{
	position:absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 30pt;
	color: white;
	font-family: 'Alfa Slab One',sans-serif;
	z-index:: 0;
}

td   
{
	text-align:center;
	width:6em;
	height:4em;
	float:left;
	margin:.2em; 
	padding:.2em;
	overflow:auto;
	background: url(images/day-bg-beige.png) bottom right no-repeat; 
}

td.date.header
{
	height:2em;
}

td.time
{
	height:2em;
	margin:0.05em; 
	padding:0.05em;
}

td.length, td.mode
{
	height:3em;
	margin:0.05em; 
	padding:0.05em;
}

td.time.header
{
	height:3em;
}
	
td.disabled   
{
	background: url(images/day-bg-inactive.png) bottom right no-repeat;
}

/*
ContainerBottom
*/
input
{
	float:left;
	height:30px;
	margin-left:40px;
}

label
{
	float:left;
	margin-left:20px;
	text-align:left;
	resize: none;
	font-size: 15pt;
	color: white;
	background: transparent;
	font-family: 'Verdana',sans-serif;
}

#anonymous
{
	clear: both;
}

#multiple
{
	clear: both;
}

#containercreate
{
	clear: both;
}

button
{
	float:right;
	margin-right:20px;
	font-size: 15pt;
	height: 40px;
	border: 0;
	color: #222;
	background: #ffa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: 'Alfa Slab One', sans-serif;
	cursor: pointer;
	text-decoration: none;
	padding: 0px 6px;
	display: inline-block;
	position: relative;
	z-index:: 10;
}

/*
results page
*/

#bar
{
	position:relative;
	width:90%;
}

#bartext
{
	position:absolute;
	top:0;
	text-align:center;
	font-size: 20pt;
	font-family: 'Alfa Slab One', sans-serif;
}