mixin calendarmonth
    nav
    .input-group
      span.input-group-btn
          button.btn.btn-default(type="button" data-bind="click: prev") Prev
      h3(align="center" data-bind="text: Header")
      span.input-group-btn
        button.btn.btn-default(type="button" data-bind="click: next") Next
    .day_names.cal_row
      div Mon
        span day
      div Tue
        span sday
      div Wed
        span nesday
      div Thu
        span rsday
      div Fri
        span day
      div Sat
        span urday
      div Sun
        span day
    .cal_row(data-bind="foreach: Collection, selectable: SelectableOptions")
      div.ui-state-default(data-bind="text: DateText, css: Status")