mixin details
  form(role="form")
    .form-group(data-bind="visible: (Title!='')")
      label(for="EventTitle") Title
      .form-control.panel.panel-default(data-bind="text: Title") 
    .form-group(data-bind="visible: (Details!='')")
      label(for="EventDetails") Description
      textarea#description.form-control.panel.panel-default(data-bind="text: Details" readonly='readonly') 
    .form-group
      label(for="EventLength") Event Length
      .form-control.panel.panel-default(data-bind="text: Length+Mode") 