include ./index/navbar.jade
include ./index/calendar.jade
include ./index/eventdetails.jade
include ./index/eventduration.jade

extends layout

block styles
    link(rel='stylesheet', href='/css/start.css')
block content
    +navbar
    .content.container-fluid
      .row
        h4.capitalized-header What's the Event
      .row
        +eventdetails
      .row
        h4.capitalized-header When can it happen?
      .row
        +calendar
      .row
        h4.capitalized-header How long will it be?
        +eventduration
block footer
      script(src='/js/start.js', type='text/javascript')