include ./common/navbar.jade
include ./common/calendarmonth.jade
include ./common/calendarweek.jade
include ./common/popup.jade
include ./common/help.jade
include ./common/about.jade
include ./common/frame.jade
include ./index/eventdetails.jade
include ./index/eventduration.jade
include ./index/options.jade

extends layout

block styles
    link(rel='stylesheet', href='/css/index.css')
block content
    +navbar
    .content.container-fluid
        .row
            +frame('panel-success', 'What\'s the Event?')
              +eventdetails
        .row
            +frame('panel-info', 'How long will it be?')
              +eventduration
        .row
            +frame('panel-warning', 'When can it happen?')
              #calendarmonth
                +calendarmonth
              #calendarweek(hidden='hidden')
                +calendarweek
        .row
            +options
            button#create.btn.btn-default(type="button" style="float: right;") Create            
        +popup
        +help
        +about
block footer
      script(src='/js/index.js', type='text/javascript')