include ./common/navbar.jade
include ./common/calendar.jade
include ./common/popup.jade
include ./index/eventdetails.jade
include ./index/eventduration.jade
include ./index/options.jade

extends layout

block styles
    link(rel='stylesheet', href='/css/index.css')
block content
    +navbar
    .content.container-fluid
        .row
            h4.capitalized-header What's the Event?
        .row
            +eventdetails
        .row
            h4.capitalized-header How long will it be?
            +eventduration
        .row
            h4.capitalized-header When can it happen?
        .row
            +calendar
        .row
            br
        .row
            +options
            button#submit.btn.btn-default(type="button" style="float: right;") Submit
    +popup             
block footer
      script(src='/js/index.js', type='text/javascript')