include ./common/navbar.jade
include ./common/popup.jade
include ./common/details.jade
include ./result/list.jade

extends layout

block styles
    link(rel='stylesheet', href='/css/index.css')
block content
    +navbar
    .content.container-fluid
        .row
            +eventdetails
        .row
            label(for="Available") Most available
            +list
    +popup
block footer
      script.
        var schedule = !{schedule}
        var data =!{data}
      script(src='/socket.io/socket.io.js', type='text/javascript')
      script(src='/js/result.js', type='text/javascript')