include ./common/navbar.jade
include ./common/calendarmonth.jade
include ./common/calendarweek.jade
include ./common/popup.jade
include ./common/help.jade
include ./common/about.jade
include ./common/details.jade
include ./common/frame.jade
include ./schedule/username.jade

extends layout

block styles
    link(rel='stylesheet', href='/css/index.css')
block content
    +navbar
    .content.container-fluid
        .row
            +frame('panel-success', 'Event details')
              #details
                +details
        .row
            +frame('panel-info', 'When can you make it?')
              #usernamegroup
                +username
              #calendarmonth(hidden='hidden')
                +calendarmonth
              #calendarweek(hidden='hidden')
                +calendarweek
        .row
            button#results.btn.btn-default(type="button" style="float: right;") Results
            button#submit.btn.btn-default(type="button" style="float: right;") Submit
        +popup
        +help
        +about
block footer
      script.
        var schedule = !{schedule}
        var data =!{data}
      script(src='/js/schedule.js', type='text/javascript')