include ./common/navbar.jade
include ./common/calendar.jade
include ./common/popup.jade
include ./common/details.jade
include ./schedule/username.jade

extends layout

block styles
    link(rel='stylesheet', href='/css/index.css')
block content
    +navbar
    .content.container-fluid
        .row
            +eventdetails
        .row
            h4.capitalized-header When can you make it?
            +username
        .row
            +calendar
        .row
            br
        .row
            button#results.btn.btn-default(type="button" style="float: right;") Results
            button#submit.btn.btn-default(type="button" style="float: right;") Submit
    +popup
block footer
      script.
        var schedule = !{schedule}
        var data =!{data}
      script(src='/js/schedule.js', type='text/javascript')