mixin calendar
  .calendar(data-bind="selectable: SelectableOptions")
    .day_names.cal_row
      div Mon
        span day
      div Tue
        span sday
      div Wed
        span nesday
      div Thur
        span sday
      div Fri
        span day
      div Sat
        span urday
      div Sun
        span day
    .cal_row(data-bind="foreach: Days")
      div.ui-state-default(data-bind="css: Status, selectableItem: onSelect, click: onClick")
        i(data-bind="text: DayText")
      
        


