mixin calendar
  .calendar
    .day_names.cal_row
      div Mon
        span day
      div Tue
        span sday
      div Wed
        span nesday
      div Thur
        span sday
      div Fri
        span day
      div Sat
        span urday
      div Sun
        span day
    .cal_row(data-bind="foreach: Days, selectable: SelectableOptions")
      div.ui-state-default(data-bind="text: DateText, css: Status")
    button(id="prev" data-bind="click: prevMonth").
      Prev
    button(id="next" data-bind="click: nextMonth").
      Next