mixin eventdetails
  form(role="form")
    div.form-group
      label(for="EventTitle") Title (Optional)
      input#title.form-control(type="text", placeholder="Henry's Birthday")
    div.form-group
      label(for="EventDetails") Description (Optional)
      textarea#details.form-control(type='text', placeholder='Dinner @ The Esplanade', maxlength='200')