mixin eventdetails
  form(role="form")
    div.form-group
      label(for="EventName") Title
      input#EventName.form-control(type="email", placeholder="Henry's Birthday")
    div.form-group
      label(for="EventDetails") Description
      textarea#EventDetails.form-control(name='details', placeholder='Dinner @ The Esplanade', maxlength='200', type='text')