mixin eventduration
  div#EventDurationSlider
  #length.form-control.panel.panel-default
  .btn-group(data-toggle='buttons' aria-label='duration-type' style="float: right;")
     label#days.btn.btn-default.active
       input(type='radio')
       | Days
     label#hours.btn.btn-default
       input(type='radio')
       | Hours