mixin eventduration
  form(role="form")
    input#EventDurationSlider.slider(data-slider-id='EventDurationSlider', type="text",data-slider-min="0",data-slider-max="20", data-slider-step="1", data-slider-value="14")
  .btn-group(role="group" aria-label="duration-type")
    button.btn.btn-default(type="button") Hours
    button.btn.btn-default(type="button") Days