mixin eventduration
  div#EventDurationSlider
  input.form-control(id='length' type='text')
  .btn-group(data-toggle='buttons' aria-label='duration-type')
     label#days.btn.btn-default.active
       input(type='radio')
       | Days
     label#hours.btn.btn-default
       input(type='radio')
       | Hours