mixin options
  .btn-group(data-toggle='buttons')
     label#anonymous.btn.btn-default.active
       input(type='checkbox')
       | Anonymous
     label#duplicate.btn.btn-default.active
       input(type='checkbox')
       | One Vote/User